.shop-wrap {

  // hiding some default features we don't want
  .woocommerce-breadcrumb, .woocommerce-result-count, .woocommerce-ordering {
    display: none;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }

  li.product {
    width: 31% !important;
    margin-right: 3.5% !important;
    margin-bottom: 40px !important;
    &:nth-child(3n+3) {
      margin-right: 0 !important;
    }
    @include respond-to(b-750) {
      width: 48% !important;
      margin-right: 4% !important;
      &:nth-child(3n+3) {
        margin-right: 4% !important;
      }
      &:nth-child(2n+2) {
        margin-right: 0 !important;
      }
    }
    @include respond-to(b-550) {
      width: 100% !important;
      margin-right: 0% !important;
      &:nth-child(3n+3) {
        margin-right: 0% !important;
      }
      &:nth-child(2n+2) {
        margin-right: 0 !important;
      }
    }

    img {
      width: 100% !important;
      margin-bottom: 10px !important;
    }

    h3 {
      padding: 0 0 3px !important;
    }

    .price {
      color: $light !important;
      padding: 0 0 7px !important;
      margin-bottom: 0 !important;
    }

    .amount {
      font-size: 0.75rem !important;
      line-height: 0.75rem !important;
    }

    .button {
      margin-top: 0 !important;
    }

  } // .product

} // .shop-wrap
